VITE_CONTRACTOR_NAME="Nandlal Ahirwar"
VITE_CONTRACTOR_TAGLINE="Building Better Villages, One Project at a Time."
VITE_WHATSAPP_NUMBER="+919876543210"
VITE_PHONE_NUMBER="+919876543210"
VITE_EMAIL_ADDRESS="contact@nandlalahirwar.in"
VITE_OFFICE_LOCATION="Village Development Office, Rural Construction Works"
